* {
    font-family: Verdana, sans-serif;
    text-align: center;
}

body {
    background-color: #778D7E;
}

h1 {
    color: #75FFA1;
}

ul {
    background-color: #FF9075;
}

p {
    background-color: #FF9075;
}
/* #8C7A76 #8C7682 #768C7D #75FFA1 #FF9175*/